@using Blazored.Modal.Services
@using Inventory.Components.Layout
@inject IModalService Modal

<CascadingValue Value="Modal">
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</CascadingValue>
